.adm-workarea,
.bxml-dialog,
.bxml-subdialog-cont
	label
		display initial
	textarea
	select,
	input,
	textarea
		width auto
		height auto
		min-height 0
		appearance initial
		margin-top 0
		margin-bottom 0
	select
		appearance menulist
	select[multiple]
		appearance listbox
	input
		appearance textfield
	input[type="button"]
		appearance push-button
	input[type="checkbox"]
		appearance checkbox
	input[type="radio"]
		appearance radio
	table
		table-layout auto
	.ml-title-cell,
	.ml-head-cont,
	.ml-buttons-cont,
	.bxhtmled-img-dialog-cnt
		table,
		td
			border none