.future-projects
	padding-bottom 100px
	@media desc
		padding-bottom 60px
	@media mobile
		padding-bottom 30px
	&__logo
		text-align center
		margin-top 50px
		margin-bottom 50px
		@media tablet
			margin-top 30px
			margin-bottom 30px
	&__wrapper
		max-width 16400px
		margin 0 auto
	&__row
		width auto
		display flex
		flex-wrap wrap
		justify-content center
	&__col
		width 360px
		box-sizing content-box
		padding-right 25px
		padding-left 25px
		margin-bottom 50px
		@media tablet
			padding-right 15px
			padding-left 15px
		@media tablet
			margin-bottom 30px