extends extends/_layout

block content
	.row
		.col-12
			.text-center
				h1 Ошибка 404!
				h5
					| Страницы, которую Вы запрашиваете, не существует.
					br
					| Возможно, она была удалена, возможно, Вы выбрали неправильный адрес.