extends extends/_layout

block content
  .main-title
    .h1 О выставке

  .main__wrapper
    .breadcrumb
      li
        a(href="#") Главная
      li.active О выставке
    .h2 План выставки
    .tabs.js-tabs
      .tabs__toggles
        .tabs__toggle.js-tabs-toggle Общая схема
        .tabs__toggle.js-tabs-toggle Зал №1
        .tabs__toggle.js-tabs-toggle Зал №2
        .tabs__toggle.js-tabs-toggle Зал №3
      .tabs__tab.js-tabs-tab
        .tabs__img
          img(src="images/card-img1.png", alt="")
        a(href="#").button Скачать схему
      .tabs__tab.js-tabs-tab
        .tabs__img
          img(src="images/card-img2.png", alt="")
        a(href="#").button Скачать схему
      .tabs__tab.js-tabs-tab
        .tabs__img
          img(src="images/card-img3.png", alt="")
        a(href="#").button Скачать схему
      .tabs__tab.js-tabs-tab
        .tabs__img
          img(src="images/card-img4.png", alt="")
        a(href="#").button Скачать схему
