extends extends/_layout

block content
  .main-title
    .h1 Программа

  .main__wrapper
    .breadcrumb
      li
        a(href="#") Главная
      li.active Программа
    .programm-card
      .h2.programm-card__title Спикеры
      .programm-card__contnet
        .programm-card__people
          .programm-card__people__block
            .people
              .people__img
                img(src="images/people-img1.png", alt="")
              .people__description
                .people__title Алексей Мусакин
                p Модератор Академии, Управляющий партнер, Cronwell Hotels & Resorts, Вице-президент РГА
          .programm-card__people__block
            .people
              .people__img
                img(src="images/people-img2.png", alt="")
              .people__description
                .people__title Геннадий Ламшин
                p Модератор Академии, Управляющий партнер, Cronwell Hotels & Resorts, Вице-президент РГА
          .programm-card__people__block
            .people
              .people__img
                img(src="images/people-img3.png", alt="")
              .people__description
                .people__title Сергей Шпилько
                p Президент Российского Союза Туриндустрии
          .programm-card__people__block
            .people
              .people__img
                img(src="images/people-img4.png", alt="")
              .people__description
                .people__title Вадим Прасов
                p Вице-президент Федерации рестораторов и отельеров
          .programm-card__people__block
            .people
              .people__img
                img(src="images/people-img5.png", alt="")
              .people__description
                .people__title Алексей Коробкин
                p Старший директор по развитию Marriott в России и странах СНГ
          .programm-card__people__block
            .people
              .people__img
                img(src="images/people-img6.png", alt="")
              .people__description
                .people__title Алексис Фейя
                p Директор по развитию IHG в России и странах СНГ
          .programm-card__people__block
            .people
              .people__img
                img(src="images/people-img7.png", alt="")
              .people__description
                .people__title Владимир Ефимов
                p Эксперт по классификации, Вице-президент Российской Гостиничной Ассоциации
          .programm-card__people__block
            .people
              .people__img
                img(src="images/people-img8.png", alt="")
              .people__description
                .people__title Александр Бондаренко
                p Председатель Астраханской Туристической лиги
          .programm-card__people__block
            .people
              .people__img
                img(src="images/people-img9.png", alt="")
              .people__description
                .people__title Константин Сторожев
                p Председатель экспертного совета по апартаментам Российской Гильдии управляющих и девелопе…
          .programm-card__people__block
            .people
              .people__img
                img(src="images/people-img10.png", alt="")
              .people__description
                .people__title Мария Онучина
                p Управляющий директор PM NAI Becar, сопредседатель экспертного совета РГУД…
          .programm-card__people__block
            .people
              .people__img
                img(src="images/people-img11.png", alt="")
              .people__description
                .people__title Александр Погодин
                p Генеральный директор сети апарт-отелей YE’S (Группа компаний «Пионер»)
          .programm-card__people__block
            .people
              .people__img
                img(src="images/people-img12.png", alt="")
              .people__description
                .people__title Мария Бадмацыренова
                p Министр туризма Республики Бурятия
          .programm-card__people__block
            .people
              .people__img
                img(src="images/people-img12.png", alt="")
              .people__description
                .people__title Михаил Ушаков
                p Директор Партнерство ТИЦ НП «НАИТО»
