extends extends/_layout

block content
  .main-title
    .h1 Программа

  .main__wrapper
    .breadcrumb
      li
        a(href="#") Главная
      li.active Программа
    .programm-card
      .h2.programm-card__title Программа форума «Отдых-2019»
      .programm-card__description
        p 11 сентября в рамках 24 Международной выставки-форума по туризму «ОТДЫХ 2018» в ЦВК «Экспоцентр» состоится дискуссионная панель «Гостиничный бизнес сегодня и завтра».
        p Дискуссионная панель проводится второй год подряд и освещает все ключевые вопросы развития гостиничной индустрии: законодательство, развитие отельного дела, классификацию отелей, инвестиции в гостиничный бизнес и многое другое. Модератором дискуссии выступит Вице-президент Российской Гостиничной Ассоциации, Управляющий партнер Cronwell Hotels&Resorts Алексей Мусакин.
      .programm-card__contnet
        .h3 Спикеры и участники
        .programm-card__people
          .programm-card__people__block
            .people
              .people__img
                img(src="images/people-img1.png", alt="")
              .people__description
                .people__title Алексей Мусакин
                p Модератор Академии, Управляющий партнер, Cronwell Hotels & Resorts, Вице-президент РГА
          .programm-card__people__block
            .people
              .people__img
                img(src="images/people-img2.png", alt="")
              .people__description
                .people__title Геннадий Ламшин
                p Модератор Академии, Управляющий партнер, Cronwell Hotels & Resorts, Вице-президент РГА
          .programm-card__people__block
            .people
              .people__img
                img(src="images/people-img3.png", alt="")
              .people__description
                .people__title Сергей Шпилько
                p Президент Российского Союза Туриндустрии
          .programm-card__people__block
            .people
              .people__img
                img(src="images/people-img4.png", alt="")
              .people__description
                .people__title Вадим Прасов
                p Вице-президент Федерации рестораторов и отельеров
          .programm-card__people__block
            .people
              .people__img
                img(src="images/people-img5.png", alt="")
              .people__description
                .people__title Алексей Коробкин
                p Старший директор по развитию Marriott в России и странах СНГ
          .programm-card__people__block
            .people
              .people__img
                img(src="images/people-img6.png", alt="")
              .people__description
                .people__title Алексис Фейя
                p Директор по развитию IHG в России и странах СНГ
          .programm-card__people__block
            .people
              .people__img
                img(src="images/people-img7.png", alt="")
              .people__description
                .people__title Владимир Ефимов
                p Эксперт по классификации, Вице-президент Российской Гостиничной Ассоциации
          .programm-card__people__block
            .people
              .people__img
                img(src="images/people-img8.png", alt="")
              .people__description
                .people__title Александр Бондаренко
                p Председатель Астраханской Туристической лиги
          .programm-card__people__block
            .people
              .people__img
                img(src="images/people-img9.png", alt="")
              .people__description
                .people__title Константин Сторожев
                p Председатель экспертного совета по апартаментам Российской Гильдии управляющих и девелопе…
          .programm-card__people__block
            .people
              .people__img
                img(src="images/people-img10.png", alt="")
              .people__description
                .people__title Мария Онучина
                p Управляющий директор PM NAI Becar, сопредседатель экспертного совета РГУД…
          .programm-card__people__block
            .people
              .people__img
                img(src="images/people-img11.png", alt="")
              .people__description
                .people__title Александр Погодин
                p Генеральный директор сети апарт-отелей YE’S (Группа компаний «Пионер»)
          .programm-card__people__block
            .people
              .people__img
                img(src="images/people-img12.png", alt="")
              .people__description
                .people__title Мария Бадмацыренова
                p Министр туризма Республики Бурятия
          .programm-card__people__block
            .people
              .people__img
                img(src="images/people-img12.png", alt="")
              .people__description
                .people__title Михаил Ушаков
                p Директор Партнерство ТИЦ НП «НАИТО»

        .programm-card__block
          .h3 Директор
          p Алексей Мусакин, Вице-президент Российской Гостиничной Ассоциации, Управляющий партнер Cronwell Hotels&Resorts.
        
        .programm-card__block
          .h3 Темы
          p Мероприятие в виде дискуссионной панели проводится третий год подряд и освещает все ключевые вопросы развития гостиничной индустрии: законодательство, развитие отельного дела, классификацию отелей, инвестиции в гостиничный бизнес и многое другое.

        .h3 Предлагаемые темы для обсуждения
        
        .programm-card__block
          .accordion.js-accordion
            .accordion__item.js-accordion-item
              .accordion__caption.js-accordion-toggle
                | Влияние законодательства на развитие туризма и гостиничного бизнеса
                .accordion__toggle
              .accordion__content
                p Вопросы классификации отелей
                p Подготовка российских отелей (помимо 11 городов — участников ЧМ-2018) к введению обязательной классификации
                p Новое Положение о классификации — особенности, вопросы и ответы
                p Требования к образованию и опыту работы персонала отеля в рамках новых требований классификации
                p Курортный сбор — способ развития туристкой инфраструктуры или фактор, снижающий туристскую привлекательность
                p Итоги введения курортного сбора в пилотных регионах (Ставропольский край, Алтай — полный сезон, Краснодарский край — с 16 июля). Влияние на динамику туристского потока, доходы и туристский имидж региона.
                p Обсуждение дальнейшей необходимости введения курортного сбора в других регионах. Зарубежный опыт.
            .accordion__item.js-accordion-item
              .accordion__caption.js-accordion-toggle
                | АПАРТ-ОТЕЛИ и Сервисные апартаменты — новые игроки на гостиничном рынке. Угроза для «классических» гостиниц?
                .accordion__toggle
              .accordion__content
                p Вопросы классификации отелей
                p Подготовка российских отелей (помимо 11 городов — участников ЧМ-2018) к введению обязательной классификации
                p Новое Положение о классификации — особенности, вопросы и ответы
                p Требования к образованию и опыту работы персонала отеля в рамках новых требований классификации
                p Курортный сбор — способ развития туристкой инфраструктуры или фактор, снижающий туристскую привлекательность
                p Итоги введения курортного сбора в пилотных регионах (Ставропольский край, Алтай — полный сезон, Краснодарский край — с 16 июля). Влияние на динамику туристского потока, доходы и туристский имидж региона.
                p Обсуждение дальнейшей необходимости введения курортного сбора в других регионах. Зарубежный опыт.
            .accordion__item.js-accordion-item
              .accordion__caption.js-accordion-toggle
                | Малые нестандартные средства размещения. Туристические базы и дома рыбаков/охотников
                .accordion__toggle
              .accordion__content
                p Вопросы классификации отелей
                p Подготовка российских отелей (помимо 11 городов — участников ЧМ-2018) к введению обязательной классификации
                p Новое Положение о классификации — особенности, вопросы и ответы
                p Требования к образованию и опыту работы персонала отеля в рамках новых требований классификации
                p Курортный сбор — способ развития туристкой инфраструктуры или фактор, снижающий туристскую привлекательность
                p Итоги введения курортного сбора в пилотных регионах (Ставропольский край, Алтай — полный сезон, Краснодарский край — с 16 июля). Влияние на динамику туристского потока, доходы и туристский имидж региона.
                p Обсуждение дальнейшей необходимости введения курортного сбора в других регионах. Зарубежный опыт.

        .programm-card__block
          .h3 Место проведения
          img(src="images/card-img1.png", alt="")

        .programm-card__block
          .h3 Партнёры
          .partners
            .partners__block
              img(src="images/partner-img1.png", alt="")
            .partners__block
              img(src="images/partner-img2.png", alt="")
            .partners__block
              img(src="images/partner-img3.png", alt="")
            .partners__block
              img(src="images/partner-img4.png", alt="")
            .partners__block
              img(src="images/partner-img5.png", alt="")
            .partners__block
              img(src="images/partner-img6.png", alt="")
            .partners__block
              img(src="images/partner-img7.png", alt="")
            .partners__block
              img(src="images/partner-img8.png", alt="")
            .partners__block
              img(src="images/partner-img9.png", alt="")
            .partners__block
              img(src="images/partner-img10.png", alt="")



