.tooltip
	width: 20px
	height: 20px
	text-transform: none
	position: relative
	display: inline-block
	margin-bottom: 0px
	// @media mobile
	// 	width: 32px
	// 	height: 32px
	// 	border: 1px solid rgba(0, 0, 0, 0.2)
	// 	border-radius: 3px
	// 	background-color: #fff
	// 	padding: 7px
	// 	margin-left: 15px
	// 	display: flex
	// 	justify-content: center
	// 	align-items: center
	&:before
		content: ""
		width: 20px
		height: 20px
		border-radius 50%
		opacity: .4
		display: block
		background: #fff url('../images/icon-question.svg') 50% no-repeat
		border: 1px solid
	&:hover
		&:before
			opacity: .7
	&:hover
		.tooltip__content
			opacity: 1
			visibility: visible
			z-index: 10
			// @media tablet
			// 	left: 0
	
	&--extended
		width: auto
		height: auto
		margin: 0
		// @media mobile
		// 	border: none
		// 	vertical-align: middle
		// 	display: inline-block
		&:before
			display: none
		.tooltip__сontent
			margin: auto
			bottom: calc(100% + 18px)
			// @media tablet
			// 	left: 0
	&__content
		width: 345px
		min-height: 50px // чтобы подсказка не выглядела кривой, когда только одна строка
		color: #212121 // чтобы не наследовался родительский
		font-size: 16px
		line-height: 24px
		font-weight: 400
		letter-spacing: normal
		background-color: #fff
		border: 1px solid rgba(0, 0, 0, 0.1)
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.05)
		padding: 11px 15px
		opacity: 0
		visibility: hidden
		position: absolute
		transition: all 0.3s, transform 0s
		left: 50% 
		z-index: -1
		bottom: 100%
		margin-bottom: 9px
		transform: translate(-50%, 0%)
		&.small
			width: 200px
			min-height: 37px
			top: -12px
			&:after
				top: 12px